﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@odev5.Resources.Language.uygulama_adi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Yonetim/Anasayfa">@odev5.Resources.Language.uygulama_adi</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Yonetim/Anasayfa">Anasayfa</a></li>
                    <li><a href="/Yonetim/Kullanicilar">Kullanıcılar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Anasayfa/Anasayfa">Siteyi Görüntüle</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @odev5.Resources.Language.uygulama_adi</p>
        </footer>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
