﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@odev5.Resources.Language.uygulama_adi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@odev5.Resources.Language.uygulama_adi, "Anasayfa", "Anasayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Anasayfa/Anneme">@odev5.Resources.Language.link1</a></li>
                    <li><a href="/Anasayfa/Cocuguma">@odev5.Resources.Language.link2</a></li>
                    <li><a href="/Anasayfa/Aktiviteler">@odev5.Resources.Language.link3</a></li>
                    <li><a href="/Anasayfa/Psikologlar">@odev5.Resources.Language.link4</a></li>
                    <li><a href="/Kullanici/Yeni">@odev5.Resources.Language.link5</a></li>
                    <li><a href="/Kullanici/Giris">@odev5.Resources.Language.link6</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Anasayfa/Anasayfa?Language=tr">Türkçe</a></li>
                    <li><a href="/Anasayfa/Anasayfa?Language=en">English</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @odev5.Resources.Language.uygulama_adi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
