﻿@model List<odev5.Models.kullanicilar>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}

<div class="page-header">
    <h1>Kullanıcılar</h1>
</div>

<table class="table table-striped table-hover table-bordered table-responsive" width="100%">

    <thead>
    <th class="text-center" width="50">ID</th>
    <th>Ad, Soyad</th>
    <th width="400">E-posta</th>
    <th width="200"></th>
    </thead>
                          
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td class="text-center">@item.id</td>
                <td>@item.ad_soyad</td>
                <td>@item.email</td>
                <td class="text-right">
                    <div class="dropdown">
                        <button class="btn btn-xs btn-warning" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seçenekler
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="/Yonetim/KullaniciDuzenle">Düzenle</a></li>
                            <li><a href="/Yonetim/KullaniciSil/@item.id">Sil</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        }

    </tbody>

</table>