﻿<div class="page-header">
    <h1>Giriş Yap!</h1>
</div>

<form class="form-horizontal" action="/Kullanici/Giris" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label">E-posta</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="E-posta">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Şifre</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="sifre" placeholder="Şifre">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Beni hatırla
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-default">Tamam</button>
        </div>
    </div>
</form>