﻿<div class="text-center" style="margin-top: 25px">
    <img src="~/image/bebek.jpg" width="400" />
</div>

<div class="page-header">
    <h1>ÇOCUĞUMA DAİR</h1>
</div>
<br />

<h4 class="baslıklar">ÇOCUĞA YAKLAŞIM</h4>
<div class="row">
    <div class="col-md-4">
        <img src="~/image/bebek1.jpg" />
    </div>
    <div class="col-md-8">
        <p>
            Çocuk için her zaman anne ve babanın önemli bir yeri vardır. Çünkü çocuk doğumdan itibaren ilk gördüğü kişiler anne ve babasıdır. Çocuk onları örnek alarak kişiliğini kazanmaya ve bulmaya çalışır. Anne ve babanın yanlış tutumu çocuğun yanlış kişiliğe bürünmesini sağlar. Bu yüzden anne ve babanın davranışları, çocuğa karşı yaklaşımı her zaman çok önemlidir. Ebeveynler çocuklarına karşı en doğru yaklaşımı bulmak ve uygulamak zorundadır.<br />
            1. Denetleyici yaklaşım; Bu tür yaklaşımlarda anne ve baba çocuğa karşı şiddet uygulamakta, tehdit ederek ya da bağırarak konuşup, çocukla küserek iletişimi kesip çocuktan sevgiyi esirgeyerek çocuğun tutum ve davranışlarını değiştirmek ve kontrol altına almak isterler. Bu durumda çocuk olumsuz düşüncelere kolayca kapılabilir. Bu düşünceler çocuk üzerinde kötü etkiler oluşturur. Çocuğa yakın ilgi göstermek, sözle veya çocuğa dokunarak sevgi göstermek, onunla zaman geçirip ortak faaliyetler yapmak çocuğun benliğini olumlu yönde onaylayan davranışlardır.<br />
            2. Pasif yaklaşım; Bu yaklaşım denetletici yaklaşımdan çok farklıdır. Anne ve baba çocuğun yaklaşımına ve davranışlarına karşı ilgisiz ve kayıtsız bir yaklaşım sergiler. Böyle bir durumda anne ile baba, hoşgörü ve ilgisizliği birbirine karıştırır. Çocuğa sınırsız özgürlük ve hak tanınır. Bir bakıma çocuğu başıboş bırakır ve çocuğun nerede duracağını belirtmezler. Bu durum devam ettiği takdir de çocuk çevreye zarar verme aşamasına gelebilir.<br />
            3. Koruyucu yaklaşım; Aşırı koruyucu yaklaşımda, anne ve baba çocuğu gereğinden fazla kontrol altına alır. Bu yaklaşım daha çok anne ve çocuk arasında olur. Anne çocuğa çok fazla özen ve ilgi gösterir, onu sürekli koruyarak, çocuğun ihtiyaçlarını anne karşılar. Hatta çocuğun kendi başına yapabileceği şeyler bile anne tarafından karşılanır. Bu da çocuğu kendine güvensiz ve başkalarına bağımlı bir kişi yapar.<br />
            4. Dengesiz ve kararsız yaklaşım; bu tür yaklaşımlar çocuğu olumsuz yönde etkiler. Çocuğun bugün yaptığı bir davranışa ceza veriliyor, ama ertesi gün yaptığı aynı hareket hoşgörü ile karşılanıyorsa, bu çok yanlıştır. Çünkü çocuk bunu anlayamaz ve kararsızlık yaşar. Öncelikle çocuğa ceza veriliyor ise bunun nedeni çocuğa açıklanmalıdır. Hangi davranışın yanlış, hangi davranışın doğru olduğu konusunda çocuğa bilgi verilmelidir.<br />
            Anne ve baba çocuğa karşı her zaman olumlu yaklaşmalıdır. Çocukla iyi bir iletişim kurmak için bu şarttır. Öncelikle ebeveynler tutarlı, kararlı ve net olmalıdır. Çocukla konuşmaya başlandığında sadece onunla ilgilenip, başka şeylerle meşgul olunmamalıdır. Konuşurken göz temasına dikkat edin. Öncelikle çocuğun size bakmasını sağlayın. Açık ve net konuşulmalı, çocuktan istenilen şey ona söylenmeli ve bir cevap alana kadar tekrar edilmelidir.
            Çocuk her zaman fark edilmek, sevilmek ister. Çocuğu her zaman olduğu gibi kabullenmek, ona değer vermek, onu her konuda desteklemek çocuğun benliğini kazanması için çok önemlidir. Çalışan annenin ise, en büyük sorunudur. Çocuğuna yeteri kadar zaman ayıramadığından suçluluk duygusu duyarlar. Çünkü iş gerginliği, eve gelindiğinde yemek telaşı çocuk için zaman bırakmaz.
            *Ebeveyn ve çocuk arasındaki sorunların çözümündeki temel ilkeler;
            *İlk olarak çocuğun kendi sorunlarını kendisinin çözmesine fırsat verin. Koruyucu bir yaklaşımla yaklaşmamak gerekir.
            *Çocukla konuşarak, duygu ve ihtiyaçları hakkında karşılıklı iletişim kurmak gerekir.
            *Karşılıklı olarak sorunlara çözüm yolları arayın. Uygun bulduğunuz çözüm yollarını ise kâğıda yazarak değerlendirin.
            *Her zaman çocukla iletişim kurun ve ona sevginizi gösterin. Bu bütün sorunları çözer.
        </p>

    </div>
</div>
<br />
<h4 class="baslıklar">BESLENME</h4>
<div class="col-md-4">
    <img src="~/image/çocukbeslenme.jpg" />
</div>
<div class="col-md-8">
    <p>
        ** Çocukların sağlıklı beslenmesi için dört besin grubunda bulunan besinlerden yeterli miktarlarda ve dengeli bir şekilde tüketmeleri gerekmektedir. Süt grubunda yer alan süt, yoğurt, et grubunda yer alan et, tavuk, yumurta, kuru baklagiller, sebze ve meyve grubu ve tahıl grubuna giren ekmek, bulgur, makarna, pirinç vb. besinlerin her öğünde yeterli miktarlarda tüketilmesine dikkat edilmelidir.<br />
        **Çocukların özellikle kemik ve diş gelişimi için günde imkanlar dahilinde 2-3 su bardağı kadar süt veya yoğurt, 1 kibrit kutusu kadar beyaz peynir tüketmelerine özen gösterilmelidir. Ayrıca, hastalıklara karşı daha dirençli olmaları, ve sağlıklı büyüme ve gelişmeleri için her gün en az 5 porsiyon taze sebze veya meyve tüketmeleri önerilmektedir.<br />
        **Öğrenciler için en önemli öğün kahvaltıdır. Bütün gece süren açlıktan sonra, vücudumuz ve beynimiz güne başlamak için enerjiye gereksinim duymaktadır. Kahvaltı yapılmadığı takdirde, dikkat dağınıklığı, yorgunluk, baş ağrısı ve zihinsel performansta azalma olmaktadır. Bu nedenle, güne yeterli ve dengeli yapılan bir kahvaltı ile başlamak öğrencilerin okul başarısının artmasında son derece önemlidir. Çocukların her sabah düzenli olarak kahvaltı yapma alışkanlığı kazanmalarına özen gösterilmelidir. Peynir, taze meyve veya meyve suları, birkaç dilim ekmek, 1 bardak süt çocuklar için kahvaltıda yeterlidir. Özellikle kaliteli proteinve zengin vitamin ve mineral içeriğinden dolayı haşlanmış yumurtanın sıklıkla tüketilmesi önerilmektedir.<br />
        **Gün boyu fiziksel ve zihinsel performansın en üst düzeyde tutulabilmesi, düzenli olarak ara ve ana öğünlerin tüketilmesi ile mümkündür. Bu nedenle, öğün atlanmamalıdır. Günlük tüketilecek besinlerin 3 ana, 2 ara öğünde alınması en uygun olanıdır.<br />
        **Açıkta satılan besinler, yeterince güvenilir ve temiz değildir. Ayrıca, uygun koşullarda muhafaza edilmedikleri için çabuk bozulma riski taşırlar. Bu nedenle, özellikle okul çevresinde açıkta satılan besinlerin kesinlikle satın alınmaması gerekmektedir.<br />
        **Çocukların okul kantinleri, büfe gibi yerlerden satın aldıkları besinlerin seçiminde de dikkatli olmaları gerekmektedir. Süt, ayran gibi ambalajlı besinleri satın alırken etiket bilgisinde Tarım ve Köyişleri Bakanlığından üretim izninin bulunmasına ve son kullanım tarihinin geçmemiş olmasına, ambalajsız satılan tost, simit, poğaça gibi yiyeceklerin de temiz ve güvenilir şekilde hazırlanmış olmasına dikkat edilmelidir.<br />
        **Beslenme çantası ve su mataralarının her gün temizlenmesine özen gösterilmelidir.<br />
        **Çocuklar, tuvalet ve umumi kullanıma açık çeşme sularından su içmemeleri konusunda uyarılmalı, güvenilir içme suyu tüketmeleri sağlanmalıdır.<br />
        **Öğle yemeği okulda yeniliyorsa Sağlık Bakanlığının hazırladığı menü modelleri örnek alınmalıdır.<br />
        **Okulda veya evde dinlenirken ve ders çalışırken açlık hissedildiğinde tüketilen besinlere dikkat edilmelidir. Örneğin, şeker ve şekerli besinler, cips vb. yağlı ve tuzlu besinler veya gazlı içecekler yerine süt, yoğurt, sütlü tatlılar, ekmek arası peynir, taze sıkılmış meyve suları, kuru yemişlerin ve kuru meyvelerin tüketiminin tercih edilmesi daha yararlıdır.<br />
        **Çocuklara sigarasız bir ortam sağlamak, onların yanında sigara içmekten kaçınmak ve en azından yaşadıkları ev ortamını "sigara içilmez" bir yer haline getirmek çocukların sağlığını korumak açısından son derece önemlidir.<br />
        **Vücudun düzenli çalışması, tüketilen besinlerin vücuda yararlılığının artırılması, çocukların fiziksel, zihinsel ve duygusal gelişimlerine olumlu katkı sağlamaları açısından fiziksel aktivitenin artırılmasına da önem verilmelidir. Bu nedenle, uzun süreli televizyon seyretme, bilgisayar kullanımından kaçınılmalı, çocukların gerek okul yönetimi gerekse de ebeveynleri tarafından sevdikleri herhangi bir spor dalı ile ilgilenmeleri teşvik edilmelidir.<br />
        ağlıklı yaşam için çocuklara el yıkama ve diş fırçalama alışkanlığının kazandırılması çok önemlidir. Kirli eller, basit bir soğuk algınlığından ölümcül hastane enfeksiyonlarına kadar pek çok hastalığın nedeni olabilmektedir. Bu nedenle çocuklara, özellikle yemek yemeden önce ve sonra, tuvalete girdikten, dışarıda oyun oynadıktan sonra, dışarıdan eve gelince ellerini, ılık akan su altında sabun ile iyice ovuşturarak yıkamaları konusunda alışkanlık kazandırılması gerekmektedir.
        <br />

    </p>
</div>
<br />
<h4 class="baslıklar">SPOR</h4>
<div class="col-md-4">
    <img src="~/image/cocukspor.jpg" />
</div>
<div class="col-md-8">
    <p>
        Spor, sağlıklı yaşamın altın kurallarından biri olduğu gibi, çocukların üzerinde spor yapmanın etkisi çok daha yüksek. Yetişkinler; sağlığı koruma, fit kalabilme, dengeli beslenmeyi destekleme gibi nedenlerden dolayı sıklıkla spor yaparken; çocukların spor yapmasının birçok faydası bulunuyor.<br />
        <b> Spor Yapan Çocuklar</b><br />
        Hemen her çocuk spor ile ilgili faaliyetlerde bulunsa da, düzenli olarak spor yapan çocuklar, yaşıtlarına göre birçok farklı niteliğe sahip oluyor. Bireysel ya da takım oyunu sporları türlerini düzenli olarak yapan çocuklar, yetişkinlik yaşamlarında da genellikle spora devam ettiği gibi; hayatları boyunca, çocuk yaşta yaptıkları sporun etkilerini yaşamaya devam ediyor.<br />
        <b>  Az Stres Yaşar, Yüksek Özgüvenli Olurlar</b><br />
        Spor yapan çocuklar, yaşıtlarına göre daha az stres yaşadıkları gibi, özgüvenleri de spor yapmayan çocuklara oranla daha fazladır. Çocukların sporla düzenli olarak ilgilenmeleri, çok yönlülüklerini artırdığı gibi, fiziksel efor sarf etmeleri daha az stres yaşamalarını sağlar. Bu nedenle spor yapan çocuklar; depresyon, kaygı gibi durumlardan, spor yapmayanlara göre daha az etkilenir.<br />
        <b>Sağlıklı Gelişirler</b><br />
        Spor esnasında yüksek enerji harcayan çocuklar, bu enerjiyi geri kazanabilmek için dengeli ve düzenli beslenmek durumundadır. Kas ve kemik gelişimini olumlu yönde etkileyen sporun faydalarından biri de, beslenmeyi tetiklemesidir. Spor yaparken, vücudun birçok bölgesi koordineli bir şekilde çalıştığından, çocukların beyin gelişimini de desteklenmiş olur.<br />
        <b>Disiplinli ve Hedefe Odaklıdırlar</b><br />
        Gerek bireysel, gerekse takım sporları ile ilgilenen çocuklar; disiplin konusunda başarılıdır. İlgilendiği spor dalında başarılı olmak için disiplinli olması gerektiğini öğrenen çocuk; başarı kazanmak için kendisine hedef belirlemesi gerektiğini ve bu hedef doğrultusunda sürekli çaba sarf etmesi gerektiğini de öğrenir. Bu nedenle spor yapan çocuklar, yapmayanlara oranla disiplinli ve hedef odaklı kişilik yapısına sahip olurlar.<br />
        <b>Refleksleri Güçlü ve Odaklanma Becerileri Yüksektir</b><br />
        Yapılan araştırmalar, düzenli olarak yürüyüş yapmanın ya da bir spor dalı ile ilgilenmenin odaklanma becerisini artırdığını göstermektedir. Spor yapan çocuklar, ilgilendikleri spor dalı ile ilgili spesifik özellikler kazanmakla beraber, güçlü reflekslere ve yüksek odaklanma becerisine sahip olurlar.<br />
        <b>Zorluklarla Daha Kolay Baş Ederler</b><br />
        Takım oyunu ya da bireysel spor dallarında, çocuklar kazanmak kadar kaybetmenin de doğal bir sonuç olduğunu öğrenir. Bunun yanı sıra, yetersiz kaldığını hissettiğinde dahi, rakibini geçebilmek için kendisini zorlamaya alışan çocuklar, hayatlarındaki zorluklarla daha iyi mücadele edebilme özelliği kazanır. Olumsuz durumlarla başa çıkma konusunda spor yapmayan çocuklara oranla çok daha başarılı olur.<br />
        <b>Daha Az Sağlık Sorunu Yaşarlar</b><br />
        Düzenli olarak spor yapan çocukların bağışıklık sistemi diğer çocuklara göre daha güçlüdür. Bu nedenle, çocukların spor yapması, hastalıklarla daha az karşılaşmalarını sağlar. Bununla birlikte, obezite gibi sağlık sorunları da yaşamazlar. Fiziksel açıdan çok daha güçlü olan çocukların efor sarf eden sporları düzenli olarak yapmaları; kemik ve kas gelişimlerini sağladığı gibi; akciğerler ve kalplerinin de güçlenmesine yardımcı olur.<br />
        <b>Liderlik Yapar ve Uyumlu Çalışırlar</b><br />
        Basketbol, hentbol, buz hokeyi, voleybol gibi takım sporları ile ilgilenenler, zamanı geldiğinde tüm takıma liderlik yapması gerektiğini ve takımı yönlendirmesi gerektiğini bilir. Bu nedenle takım sporları ile ilgilenen çocuklar liderlik vasfına sahip olduğu gibi, takım çalışmasına da yatkınlaşır. Aynı zamanda takım sporları ile ilgilenen çocukların paylaşımcılığı da artar.<br />
        <b>Dışa Dönük Olurlar</b><br />
        Herhangi bir spor dalı ile uğraşan çocukların özgüveni daha yüksek olduğu gibi; rakip takım, seyirci, hakemler gibi spor müsabakalarına eşlik eden insanlarla uyum içerisinde yarışır. Bu nedenle sporcu çocuklar genellikle dışa dönük ve sosyal olur.<br />
        <b>Madde Bağımlılığından Uzak Dururlar</b><br />
        Sporla ilgilenenler; tütün ve alkol gibi maddelerden uzak duracağı, madde bağımlılıklarına karşı da direnç gösterirler. Sağlığa zarar veren ve sporcunun başarısını olumsuz etkileyecek maddelere, takım içerisinde de izin verilmeyeceği gibi, çocuklar bu maddelerle tanışabilecek ortama genellikle sahip olmaz.<br />
        <b>Hızlı Düşünür ve Çabuk Karar Verirler</b><br />
        Spor karşılaşmalarında hızlı olmak ve çabuk karar vermek durumunda sıklıkla kalan çocuklar, bir süre sonra bunu hayatlarının her alanına uygulayabilir hale gelir. Bu nedenle, spor yapan çocuklar, karar alma, matematiksel düşünme ve olasılıkları hızlı bir şekilde hesaplayabilme gibi konularda da kendilerini hızlı bir şekilde geliştirir.<br />

    </p>
</div>

