﻿<div class="text-center" style="margin-top:25px;">
    <img src="~/image/psikoloji.jpg" />
</div>
<br />
<br />
<br />
<br />
<div class="page-header">
    <h1>PSİKOLOGLAR</h1>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/image/psıkolog1.jpg" />
    </div>

    <div class="col-md-8">
        <b>Fatma KIRIMLI TAŞKIN</b><br />
        --Aile Dnş.Çift-ErgenTerapisti<br />
        --Pedagog<br />
        --Çocuk Gelişimi<br />
        --Çocuk Psikolojisi Terapisti<br /><br />
        <a href="https://www.doktortakvimi.com/fatma-kirimli-taskin/psikoloji-pedagoji-aile-terapisi/ankara" target="_blank" class="btn btn-sm btn-info">İletişim</a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/image/psıkolog3.jpg" />

    </div>
    <div class="col-md-8">
        <b>Pınar ERSÖZ</b><br />
        -- Psikolog <br />
        -- Aile Danışmanı<br />
        -- EMDR Terapisti<br /><br />
        <a href="https://www.doktortakvimi.com/pinar-ersoz/psikoloji/konak" target="_blank" class="btn btn-sm btn-info">İletişim</a>

    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/image/psıkolog2.jpg" />

    </div>
    <div class="col-md-8">
        <b>Dr.Murat SARISOY</b><br />
        -- Psikolog Dr.<br />
        -- Uzman Klinik Psikolog<br />
        --Çocuk, Ergen, Bireysel Sorunlar, Evlilik Ve Çift Terapisti<br><br />
        <a href="https://www.doktortakvimi.com/murat-sarisoy/psikoloji-aile-terapisi-pedagoji/izmir" target="_blank" class="btn btn-sm btn-info">İletişim</a>
    </div>
</div>